#geral{
    font-family: cursive;
}

.pra{
    border: solid 2px #aaF;
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: auto;
}

form{
    border: solid 2px #aaF;
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: auto; 
}

.pre{
    margin-top: -26px;
    background: #fff;
    width: 155px;
}

#dadosPedido{
    width: 500px;
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 14pt;
    margin-bottom: 30px;
}

.tam{
    font-weight: bold;
}

.pru{
    width: 100%;
}

#tra{
    margin-top: -25px;
    background: #fff;
    width: 168px;
}

#juju{
    margin-bottom: 10px;
}

.alerta{    
    font-weight: 600;
    color: red;
    padding: 10px;
    margin-left: 10px;
}

.backRed{
    background-color: rgb(230, 129, 129);
    border: solid 2px rgb(241, 9, 9);
}

.backBlue{
    background-color: rgb(176, 167, 255);
    border: solid 2px rgb(30, 15, 231);
}

.backGreen{
    background-color: rgb(181, 255, 199);
    border: solid 2px rgb(3, 180, 47);
}
